@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* @apply text-black dark:text-slate-400 hover:; */
  /* background-color: @apply bg-slate-200; */
  /* linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

.layoutMain {
  @apply dark:bg-primaryDark/40 max-h-screen overflow-y-auto w-screen overflow-x-hidden flex flex-1 min-h-full flex-col items-center justify-between;
}

.navLink {
  @apply px-6 py-3 rounded-full cursor-pointer hover:bg-blue-100 dark:hover:bg-primaryDark duration-300 flex items-center;
}

.actionLink {
  @apply flex items-center px-6 py-4 bg-slate-200 dark:bg-primaryDark hover:bg-slate-300 dark:hover:bg-slate-900/60 duration-300 mb-2 last:mb-0 rounded-2xl;
}

.selectOption {
  @apply p-2 font-sans flex bg-white dark:bg-primaryDark h-full hover:bg-blue-800;
}

.select {
  @apply bg-transparent dark:bg-secondaryDark p-2 rounded-lg border-2 border-gray-300 dark:border-secondary h-full px-4;
}

.borderColor {
  @apply dark:border-purple-900 border-secondary;
}

.inputBorder {
  @apply border border-gray-300 dark:border-secondary;
}